div {
	border: 1px solid #000;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

/*Old App CSS*/
/*.container {
	max-width: 1000px;
	margin: 0 auto;
	color: #28f;
	font-family: Comic Sans MS;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
}

.title {
	width: 100%;
}

.cat-selector {
	width: 45%;
	display: flex;
	flex-direction: column;
}

.selection {
	height: 10%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 2% 0;
	cursor: pointer;
}

.selection:hover {
	text-shadow: 1px 1px 3px #39f;
}

.selection img {
	height: 100%;
}

.catName {
	padding: 0 10%;
}

.content {
	width: 50%;
}

.catBox {
	height: 50%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	overflow: hidden;
	padding: 2% 0;
	cursor: cell;
	font-size: 2em;
	font-weight: bold;
	color: #f20;
}

.cat {
	height: 85%;
	padding: 2% 0;
}

.reset {
	width: 200px;
    height: 80px;
    margin: 25px;
    border-radius: 10em;
    line-height: 70px;
    cursor: pointer;
}*/
